@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
}
.projects{
    padding: 10px;
}
.projects .main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.projects .main  a{
   width: 100%;
   height: 280px;
   background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    background-color: rgba(0,0,0,.8);
    background-blend-mode: multiply;
    border-radius: 10px;
    margin: 10px auto;
}
.projects .main a p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    color: white;
    text-shadow: 1px 1px 2px gold;
}
.projects .main .play-store{
    background-image: url(/images/play-store.png);
}
.projects .main .todo{
    background-image: url(/images/todo.png);
}
.projects .main .instagram{
    background-image: url(/images/instagram.png);
}
.projects .main .flipkart{
    background-image: url(/images/flipkart.png);
}
.projects .main .filter{
    background-image: url(/images/filter.png);
}
.projects .main .testimonial{
    background-image: url(/images/testimonial.png);
}
.projects .main .calculator{
    background-image: url(/images/calculator.png);
}
.projects .main .clock{
    background-image: url(/images/analog-clock.png);
}
.projects .main .colorGen{
    background-image: url(/images/random-hex.png);
}
